<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ytken.wildberries.internship.week1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week1">
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".content.ContentResolverActivity"
            android:exported="false" />
        <activity
            android:name=".content.ContentProviderActivity"
            android:exported="false" />
        <activity
            android:name=".content.ContentExampleActivity"
            android:exported="false" />

        <provider
            android:name=".content.ResumeContentProvider"
            android:authorities="ru.ytken.wildberries.internship.week1"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name=".broadcast.BroadcastExampleActivity"
            android:exported="false" />

        <receiver
            android:name=".broadcast.VolumeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".service.ServiceExampleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>